<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Choose a Bot
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">BOT1</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">BOT2</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">BOT3</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">BOT4</a></li>
  </ul>
</div>
